html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: Arial, Helvetica,"微軟正黑體","蘋果儷中黑","新細明體";
}

body {
  width:100%;
  height:100%;
  background: url(../images/back_ground.jpg) no-repeat;
  background-size: 100%;

}

.edit {
  background: none;
}

/*topBar*/

.top-bar {
  height: 36px;
  line-height: 36px;
  z-index: 99;
  background-color: black;
  -moz-box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: 0px 0px 5px #333;
  -o-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333;
}

#logo {
	position: absolute;
	top:8px;
	left:50%;
	margin:0 0 0 -63px;
}

.powerBy {
	position: absolute;
	top:10px;
	right:15px;
	color:#FFF;
	font-size:14px;
}

.row {
  height:60px;
  margin-bottom: 40px;
}

.columns {
  padding: 0px;
  height: 100%;
}

.spotIcon {
   background: url(../images/pinDefault.png) no-repeat;
   background-position: 70% center;
}

.firstRow {
  margin-top: 125px;
  font-size: 28px;
  font-weight: bold;
  color: black;
  height:30px;
}

input[type="text"].spotField {
  width: 100%;
  height: 100%;
  padding:0px 20px 0 20px;
  font-size: 24px;
  color:#000;
  background-color: #FFF;
  -moz-box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -o-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  filter:alpha(opacity=80);
  opacity: .8;
  -moz-opacity:.8;
  border: none;
}

.arrowDown {
  margin:7px auto 0 auto;
  display: block;
}

.spotField-delete {
  width:47px;
  height:47px;
  position: absolute;
  margin-top:-65px;
  margin-left:575px;
  background: url(../images/spotField-delete.png) no-repeat;
  cursor: pointer;
}

.spotWrapper:hover .spotField-delete , .spotField-delete:hover {
  display: block;
}

.spotField_new {
  width: 100%;
  height: 100%;
  font-size: 24px;
  color:#000;
  -moz-box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -o-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  filter:alpha(opacity=80);
  opacity: .8;
  -moz-opacity:.8;
  border-color: #FFF;
  border-style: dashed;
  border-width: 2px;
  cursor: pointer;
  padding-left: 30px;
  padding-top: 10px;
  background: url(../images/spotNew-bg.png) repeat;
}

.spotField_new img {
  float: left;
  margin: 0 0 0 0;
  width: 34px;
  height: 34px;
}

.spotField_new p {
  float: left;
  margin-left: 20px;
  margin-top: 5px;
}

.sendButton {
  height: 100%;
  width: 100%;
  font-size: 24px;
  color:#FFF;
  background-color: #E9851E;
  -moz-box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -o-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  filter:alpha(opacity=80);
  opacity: .80;
  -moz-opacity:80;
  border: none;
  cursor: pointer;
}

/*color*/
.orange {
  color:#E9851E;
}

.result {
  background: url(../images/gallery-bg.jpg) repeat;
  background-attachment: fixed;
}

#up04 #top-nav-wrapper {
    width: 100%;
    background: #fff;
    position: fixed;
    height: 36px;
    -moz-box-shadow: #181818 0px 1px 4px;
    -webkit-box-shadow: #181818 0px 1px 4px;
    -o-box-shadow: #181818 0px 1px 4px;
    box-shadow: #181818 0px 1px 4px;
    top: 100px;
    z-index: 101;
}

#up04 #top-nav-wrapper .list_carousel {
    width: 1240px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

#up04 #top-nav-wrapper .list_carousel #prev {
    width: 35px;
    height: 36px;
    display: block;
    text-indent: -9999px;
    background: url(../images/up04-prev.png) 0 38px;
    float: left;
}

#up04 #top-nav-wrapper .list_carousel #prev:hover {
    background-position: 0 38px;
}

#up04 #top-nav-wrapper .list_carousel #next {
    width: 35px;
    height: 36px;
    display: block;
    text-indent: -9999px;
    background: url(../images/up04-next.png) 0 38px;
    position: absolute;
    right: 0;
    top: 0;
}

#up04 #top-nav-wrapper .list_carousel #next:hover {
    background-position: 0 38px;
}

#up04 #top-nav-wrapper .list_carousel .disabled {
    background-position: 0 0px!important;
}

#up04 #top-nav-wrapper .list_carousel #foo li {
    float: left;
    padding: 0 30px 0 0;
    margin: 10px 0 0 0;
    font-size: 14px;
}

#up04 #top-nav-wrapper .list_carousel #foo li a {
    text-decoration: none;
    color: #4d4d4d;
    font-weight: bold;
}

#up04 #top-nav-wrapper .list_carousel #foo li a:hover {
    color: #000;
}

#up04 #top-nav-wrapper .list_carousel #foo .topIndex a {
    color: #eb861e;
}

#up04 #top-nav-wrapper .list_carousel #foo .day {
    color: #eb861e;
    font-weight: bold;
}

#up04 #top-nav-wrapper .list_carousel #foo .day a {
        color:#EB861E !important;
}

#up04 #top-nav-wrapper .list_carousel #foo .day a:hover {
        color:#F30 !important;
}

#up04 #wrapper-book {
    margin: 100px auto 0 auto;
}

#wrapper-book .index-title {
    position: absolute;
    top: 40px;
    left: 475px;
    z-index: 4;
    background: #fff;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -khtml-border-radius: 50%;
    border-radius: 50%;
    width: 92px;
    height: 92px;
}

#wrapper-book .index-title p {
    color: #eb861e;
    font-weight: bold;
    font-size:18px;
    margin: 48px 0 0 0px;
    line-height: 35px;
    text-align: center;
}

#wrapper-book #scroller {
    width: 100%;
    padding: 0;
    margin: 36px 0 0 0;
    cursor: default;
}

.box {
    float: left;
    border: 1px solid #fff;
}

.col {
  width: 618px;
  height: 412px;
  display: block;
}

.map-day {
  width:618px;
  height:414px;
}

.chapter-info p.chapter-main-title {
  text-align: center;
  font-size: 120%;
  font-weight: bold;
  color: #c48110;
  padding: 20px 0;
}

.chapter-info h2 {
  text-align: center;
  font-size: 38px;
  word-spacing: 0px;
  font-weight:bold;
}

.chapter-info p.spot-name {
  text-align: center;
  padding: 16px 0 0 0;
  font-size: 13px;
  color: #333;
  font-weight: bold;
}

.chapter-info p.summary {
  padding: 66px 0 0 0;
  font-size: 100%;
  line-height: 30px;
  color: #595A5C;
  width:90%;
  margin:0 auto;
}

.chapter-info .summary {
  padding: 25px 0 0 0;
}


